@using Resources;
@model Microsoft_Teams_Graph_RESTAPIs_Connect.Models.ResultsViewModel

@if (ViewBag.GetTeamLoadCreate!=null)
{
    <h3>Resource.TeamsGraph_CreateTeam_Heading</h3>
}
else if (ViewBag.GetTeamLoadUpdate!=null)
{
    <h3> update
        Resource.TeamsGraph_UpdateTeam_Heading </h3>
}

    @if (ViewBag.GetTeamLoadCreate != null)
{
    using (Ajax.BeginForm("CreateTeam", "Home", new AjaxOptions() { }))
    {
        <div class="col-sm-12">
            <div class="form-group">
                <label for="team-id">Group Id:</label>
                <input name="team-id" type="text" class="form-control" value="" />

            </div>

            <div class="form-group">

                <button class="btn btn-default @(ViewBag.UserId == null ? "disabled" : null)">Create Team</button>
                <input type="hidden" name="user-id" value=@ViewBag.UserId />

            </div>
        </div>

}
}

    @if (ViewBag.GetTeamLoadUpdate != null)
    {
        using (Ajax.BeginForm("UpdateTeam", "Home", new AjaxOptions() { OnComplete = "onSuccess", UpdateTargetId = "Result" }))
        {
        <div class="col-sm-12">
            <div class="form-group">
                <label for="team-id">Group Id:</label>
                <input name="team-id" type="text" class="form-control" value="" />
            </div>

            <div class="form-group">
                <button class="btn btn-default @(ViewBag.UserId == null ? "disabled" : null)">Update Team</button>
                <input type="hidden" name="user-id" value=@ViewBag.UserId />
            </div>
        </div>

}
}

        <div id="Result">

        </div>