@using Resources;
@model Microsoft_Teams_Graph_RESTAPIs_Connect.Models.Group


@if (ViewBag.GetGroupLoad != null)
{
    <h3>@Resource.TeamsGraph_CreateGroup_Heading</h3>
}


@using (Ajax.BeginForm("CreateGroup", "home", new AjaxOptions() { OnSuccess = "success", UpdateTargetId = "Result" }))
{
    if (ViewBag.GetGroupLoad != null)
    {
        <div class="col-sm-12">
            <div class="row form-group">
                <label for="displayName">Display Name</label>
                <input name="displayName" id="displayName" type="text" class="form-control" />
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row form-group">
                <label for="mailNickname">Nick Name</label>
                <input name="mailNickname" id="mailNickname" type="text" class="form-control" />
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row form-group">
                <label for="description">Description</label>
                <input name="description" id="description" type="text" class="form-control" />
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row form-group">
                <button type="submit" class="btn btn-default @(ViewBag.UserId == null ? "disabled" : null)">Create Group</button>
                <input type="hidden" id="UserId" name="user-id" value=@ViewBag.UserId />
            </div>
        </div>
    }
}
